<table>
    <tr>
        <th>Device</th>
        <th>Readings</th>
        <th>Invoice</th>
        <th>Receipt</th>
    </tr>
    <tr *ngFor="let record of records">
        <td>{{record.device.title}}</td>
        <td>
            <ng-container *ngIf="!shouldDisplayReadings(record)">
                Not supported
            </ng-container>
            <ng-container *ngIf="shouldDisplayReadings(record) && !readingsProvided(record)">
                <button mat-raised-button (click)="onAddReadingClick(record)">
                    Provide
                </button>
            </ng-container>
            <ng-container *ngIf="shouldDisplayReadings(record) && readingsProvided(record)">
                {{record.reading}}
            </ng-container>
        </td>
        <td>
            
        </td>
        <td></td>
    </tr>
</table>