<table>
  <tr>
    <th>Device</th>
    <th>&nbsp;</th>
    <th>Readings</th>
    <th>Invoice</th>
    <th>Receipt</th>
  </tr>
  <tr *ngFor="let record of records">
    <td>
      {{ (this.getDevice(record) | async)?.title }}
    </td>
    <td>
      <button mat-icon-button (click)="onEditDataRecord(record)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
    <td>
      {{ this.getDeviceReading(record) | async }}
    </td>
    <td>
      <ng-container [ngSwitch]="this.getFileInfo(record.invoiceFile) | async">
        <ng-container *ngSwitchCase="null">No file</ng-container>
        <ng-container *ngSwitchDefault>
          {{ (this.getFileInfo(record.invoiceFile) | async)?.fileName }}
        </ng-container>
      </ng-container>
    </td>
    <td>
      <ng-container [ngSwitch]="this.getFileInfo(record.receiptFile) | async">
        <ng-container *ngSwitchCase="null">No file</ng-container>
        <ng-container *ngSwitchDefault>
          {{ (this.getFileInfo(record.receiptFile) | async)?.fileName }}
        </ng-container>
      </ng-container>
    </td>
  </tr>
</table>
