<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Readings - Flats</title>
</head>
<body>
    <div layout:fragment="title">
        <h2>Flats</h2>
    </div>

    <div layout:fragment="toolbar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/readings/flats/new}">
                    Create new
                </a>
            </li>
        </ul>
    </div>

    <div layout:fragment="content">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Alias</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="flat : ${flats}">
                    <td th:text="${flat.id}" />
                    <td th:text="${flat.title}" />
                    <td th:text="${flat.alias}" />
                    <td>
                        <div class="btn-group">
                            <a th:href="@{/readings/flats/{id}(id=${flat.id})}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>